{% extends "base.html" %}
{% block content %}
{% if has_err%}
<div class="alert alert-danger" role="alert">
    <h6>Your account has not been created due to the following issues:</h6>
    <ul>
        {% if user_err %}<li>{{ user_err }}</li>{% endif %}
        {% if fnam_err %}<li>{{ fnam_err }}</li>{% endif %}
        {% if lnam_err %}<li>{{ lnam_err }}</li>{% endif %}
        {% if mail_err %}<li>{{ mail_err }}</li>{% endif %}
        {% if pass_err %}<li>{{ pass_err }}</li>{% endif %}
    </ul>
</div>
{% endif %}
<h1>Register</h1>
<form method="POST" action="{% url 'register' %}">{% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Username" name="username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="First Name" name="firstname" aria-describedby="basic-addon1">
        <input type="text" class="form-control" placeholder="Last Name" name="lastname" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Email" name="email" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Password" name="password" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Confirm password" name="ccpassword" aria-describedby="basic-addon1">
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" value="Sign_up" class="btn btn-primary">Make account</button>
    </div>
</form>
{% endblock %}
